@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "CookieRun_Regular";
  src : url('./fonts/CookieRun Regular.otf')
}
@font-face {
  font-family: "CookieRun_Bold";
  src : url('./fonts/CookieRun Bold.otf')
}

@font-face {
  font-family: "CookieRun_Black";
  src : url('./fonts/CookieRun Black.otf')
}